allure-results/
screenshots/
screenshot/
test-output/
build/
reports

applications.log
###############################
.settings/
bin/
tmp/
.metadata
.classpath
.project
*.tmp
*.bak
*.swp
*`.nib
local.properties
.loadpath
.factorypath
/target/
